.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: rgb(48, 47, 71);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.BackgroundImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.d2h-file-diff {
    background-color: rgba(224, 224, 224, 0.99);
}

.d2h-file-diff .d2h-del.d2h-change {
    background-color: #e2f0fe;
}

.d2h-file-header {
    height: 0;
    padding: 0 0;
    border-bottom: 0;
}

.d2h-file-wrapper {
    margin-bottom: 0;
}

.d2h-wrapper {
    overflow: hidden hidden;
}

.hljs {
    color: rgb(0, 0, 0);
}

.hljs-title {
    color: rgb(0, 14, 110);
}

.test {
    color: rgb(104, 124, 120);
}

.Panel {
    flex: 1;
    position: absolute;
    overflow-y: scroll;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Fade-In {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Fade-Out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes Pulse {
    from {
        color: rgb(183, 166, 108);
    }
    to {
        color: rgb(227, 208, 135);
    }
}

@keyframes Expand {
     from {
         height: 0;
         opacity: 0;
         margin-bottom: 0;
         margin-top: 0;
     }
     to {
         height: 40px;
         opacity: 1;
         margin-bottom: 3px;
         margin-top: 3px;
     }
 }

@keyframes Contract {
    from {
        height: 40px;
        opacity: 1;
        margin-bottom: 3px;
        margin-top: 3px;
    }
    to {
        height: 0;
        opacity: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}
